@import "../variable/_variables.scss";

.content {
  width: 300px;
  margin: 12px;
  // .image{
  //   width: 300px;
  //   height: 200px;
  // }
  h3 {
    text-align: center;
    color: $main;
    margin: 8px 0;
  }
  p {
    width: 300px;
    margin: 0 auto 1.45rem;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
  }
}