@import "../variable/_variables.scss";

.footer {
  width: 100%;
  margin-top: 10vh;
  text-align: center;
  a {
    display: block;
    text-decoration: none;
  }
}

.top {
  &__link {
    max-width: 800px;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    a {
      line-height: 64px;
      font-weight: bold;
      &.line {
        border: 4px solid #00c300;
        color: #00c300;
        width: 100%;
  
        &:visited {
          color: #00c300;
        }
        &:hover {
          background-color: #00c300;
          color: $white;
          transition: 0.5s;
        }
      }
      &.tel {
        // padding: 40px;
        border: 4px solid $main;
        width: calc(50% - 8px);
        margin: 16px 0;
        margin-right: 16px;
        color: $main;
        &:visited {
          color: $main;
        }
        &:hover {
          background-color: $main;
          color: $white;
          transition: 0.5s;
        }
      }
      &.mail {
        border: 4px solid $black;
        width: calc(50% - 8px);
        color: $black;
        &:visited {
          color: $black;
        }
        &:hover {
          background-color: $black;
          color: $white;
          transition: 0.5s;
        }
      }
    }
  }
}

.under {
  padding: 24px 24px 40px;
  background-color: $main;
  color: $white;
  h2 {
    padding: 32px;
  }
  a {
    border: 4px solid $white;
    padding: 16px;
    max-width: 400px;
    margin: 0 auto;
    color: $white;
    &:visited {
      color: $white;
    }
    &:hover {
      background-color: $white;
      color: $main;
      transition: 0.5s;
    }
  }
}