@import '../variable/variables';

.homeButton {
    position: fixed;
    top: calc(100% - 96px);
    left: calc(100% - 96px);
    z-index: 4;
    display: inline-block;
    text-decoration: none;
    background-color: lighten($color: $black, $amount: 50);
    color: $accent;
    opacity: 0.8;
    width: 64px;
    height: 64px;
    line-height: 64px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
}