@import "../variable/_variables.scss";

.welfare {
  width: 480px;
  margin: 8px;

  .image {
    width: 480px;
  }
  
  h3 {
    text-align: center;
    color: $main;
    margin: 8px 0;
  }
  p {
    width: 480px;
    margin: 0 auto 1.45rem;
  }
}