$black: #332F36;
$white: #F2F2F2;
$main: #83D0ED;
$accent: #E6FF5A;

$gray: rgba($color: $black, $alpha: 0.2);
$lightGray: rgba($color: $black, $alpha: 0.05);
$gradient: linear-gradient($accent, $main);